.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: medium;
  color: #a9adbb;
  text-align: center;
}

.App-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Code-area, .Result-area, .Extra-area {
  flex: 1 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.Code-entry, .Extra-text-area, .Result {
  height: 95%;
  width: 95%;
  margin: auto;
  resize: none;
  outline: none;
  border: none;
  background-color: lightcyan;
  font-size: large;
  font-family: monospace;
}

.Extra {
  height: 95%;
  width: 95%;
  margin: auto;
  resize: none;
  outline: none;
  border: none;
  font-size: large;
  font-family: monospace;
}

#lang-select {
  position: relative;
  float: right;
  bottom: 35%;
  right: 1%;
  height: 20px;
  border: 0;
}

#pgm-lang-select {
  position: relative;
  float: right;
  bottom: 35%;
  right: 2%;
  height: 20px;
  border: 0;
}

#run-button {
  color: green;
}
